BODY {
  background: black;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');
#way_one {
      background: black;
}
#way_two {
      background: #2C2C2C;
}

#firefive {
      color:white;
      font-weight: bold;
                }
.genbild1 {
border-radius: 100px;
  animation: rotateEin 30s 0s infinite linear;
}
@keyframes rotateEin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.genbild2 {
border-radius: 100px;
  animation: rotateZwei 30s 0s infinite linear;
}
@keyframes rotateZwei {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.genbild3 {
border-radius: 100px;
  animation: rotateDrei 30s 0s infinite linear;
}
@keyframes rotateDrei {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.obertitle {
      margin-top: 0px;
      text-align: center;
      font-family: 'Raleway', sans-serif;
      color: transparent;
      background: url(1.jpg);
      -webkit-background-clip: text;
      animation: animate 30s infinite linear;
      font-size: 35px;
}
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(150, 150, 150, 0.2);
  border-radius: 50%;
  border-top-color: rgba(150, 150, 150);
  margin: auto;
  animation: loading 2s 0s infinite ease-in-out;
}
#soon {
  color: white;
}
@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}
#logotext {
      font-family: 'Raleway', sans-serif;
      font-size: 25px;
      text-align: center;
      color: white;
}
#IP_cellar {
      position: fixed;
      left: 0; bottom: 0;
      padding: 10px;
      background: #808080;
      color: white;
      font-family: sans-serif;
      font-size: 12px;
      width: 100%;
}
  #kappe {
      border: 0px;
      border-color: black;
      align="center";
}
.firethree > li {
      font-family: fantasy;
}
#firesix {
      border: 2px. solid white;
}
#bestseller {
      border-color: #2c2c2c;
      width: 200px;
      color: white;
      margin: auto;
}
#seller {
      font-size: 20px;
      font-family: 'Raleway', sans-serif;
      text-align: right;
}
#selnerin {
      text-align: left;
      font-family: 'Raleway', sans-serif;
      font-size: 20px;
      color: #999999;
}
#worktime {
  font-family: 'Raleway', sans-serif;
  color: white;
  text-align: left;
  margin: auto;
}
.timetowork {
  color: white;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
#seitetext_1 {
      font-size: 35px;
      color: white;
      font-family: 'Raleway', sans-serif;
      text-align: center;
}
#dreitexttt {
      color: white;
      text-align: left;
      font-size: 12px;
      font-family: 'Raleway', sans-serif;
      font-variant-caps: small-caps;
}
#das_bild1 {
      text-align: center;
}
#das_bild2 {
      text-align: center;
}
#das_bild3 {
  text-align: center;
}
.photoway1 {
      width: 150px;
      display: block;
      margin: 0 auto;
      border-radius: 15px;
}
#waytable {
      margin: auto;
      color: white;
      font-family: 'Raleway', sans-serif;
}
#thewaykeeper {
  font-size: 15px;
  text-align: left;
}
#foodobertext {
      color: white;
      font-family: 'Raleway', sans-serif;
      font-size: 35px;
      font-weight: bold;
      text-align: center;
}
#foodtable {
      color: white;
      border-collapse: collapse;
      border-color: black;
      margin: auto;
      font-size: 12px;
      font-family: 'Raleway', sans-serif;
}
#fdt1 {
      background: #191919;
      color: white;
      font-family: 'Raleway', sans-serif;
      font-size: 15px;
}
.waygen {
      color: white;
      font-family: 'Raleway', sans-serif;
      text-align: center;
      font-size: 35px;
}
.wind {
      position: relative;
      display: inline-block;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      font-family: 'Raleway', sans-serif;
      color: white;
}
#piPie {
      font-size: 12px;
}
.wind .uptext1 {
      visibility: hidden;
      width: 160px;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 8px 0;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -80%;
}
.wind .uptext1::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
}
.wind .show {
      visibility: visible;
      -webkit-animation: fadeIn 1s;
      animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
      from {opasity: 0;}
      to {opasity: 1;}
}
@keyframes fadeIn {
      from {opasity: 0;}
      to {opasity: 1;}
}
.razer {
      position: relative;
      display: inline-block;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      font-family: 'Raleway', sans-serif;
      color: white;
}
#colPie {
      font-size: 12px;
}
.razer .getter1 {
      visibility: hidden;
      width: 160px;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 8px 0;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -80%;
}
.razer .getter1::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
}
.razer .show {
      visibility: visible;
      -webkit-animation: fadeIn 1s;
      animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
      from {opasity: 0;}
      to {opasity: 1;}
}
@keyframes fadeIn {
      from {opasity: 0;}
      to {opasity: 1;}
}
.honey {
      position: relative;
      display: inline-block;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      font-family: 'Raleway', sans-serif;
      color: white;
}
#goal {
      font-size: 12px;
}
.honey .cap {
      visibility: hidden;
      width: 160px;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 8px 0;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -80%;
}
.honey .cap::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
}
.honey .show {
      visibility: visible;
      -webkit-animation: fadeIn 1s;
      animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
      from {opasity: 0;}
      to {opasity: 1;}
}
@keyframes fadeIn {
      from {opasity: 0;}
      to {opasity: 1;}
}
.genfeasttext {
      text-align: center;
      color: white;
      font-family: 'Raleway', sans-serif;
}
